MONGODB_CONNECTION_STRING=
MONGODB_DATABASE_NAME=SmartSolarDb

JWT_KEY=
JWT_ISSUER=SmartSolarApi
JWT_AUDIENCE=SmartSolarClients
JWT_EXPIRY_MINUTES=120

SEED_ADMIN_EMAIL=admin@smartsolar.com
SEED_ADMIN_PASSWORD=